{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel",
    ["module:fast-async", { "spec": true }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "exclude": ["transform-async-to-generator", "transform-regenerator"],
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie < 12",
            "not android < 5",
            "> 5% in RU"
          ]
        },
        "shippedProposals": true,
        "loose": true
      }
    ],
    "@babel/preset-react"
  ]
}
