{
    "extends": ["codebox", "plugin:jest/recommended"],
    "rules": {
      "linebreak-style": 0,
      "import/prefer-default-export": 0,
      "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [],
        "specialLink": [ "hrefLeft", "hrefRight" ],
        "aspects": [ "noHref", "invalidHref", "preferButton" ]
      }]
    },
    "plugins": ["jest"]
}
